<table align="center">
	<td>
		<h1>Editing reply</h1>

		<%= error_messages_for :reply %>

		<% form_remote_for(:reply, :url => article_reply_path, :html => { :method => :put }) do |f| %>

		<!--[form:reply]-->

		<p><b>标题</b><br /> <%= f.text_field :title %></p>
		<p><b>作者</b><br /> <%= f.text_field :author %></p>
		<p><b>关键词</b><br /> <%#= f.text_field :keywords %></p>
		<p><b>摘要</b><br /> <%= f.text_area :digest, "cols" => 90, "rows" => 5 %></p> 
		<p><b>正文</b><br /> <%= f.text_area :body, "cols" => 90, "rows" => 20 %></p>
		<p><b>发布?</b><br /><%= f.text_field :published %></p>
		<p><b>态度</b><br /><%= f.text_field :attitude %></p>
		<!--[eoform:reply]-->

		<p>                                             
			<%= submit_tag "Update" %>                  
		</p>                                            
		<% end %>                                       
	</td>
</table>

<%= link_to 'Show', article_reply_path(@reply.parent_id,@reply) %> |
<%= link_to 'Back', article_replies_path(@reply.parent_id) %>