<% title "mubs home" %>
<h2><%= :"Homepage of Mubs".t %></h2>

<div class="span-15 prepend-1 colborder">
<%= :"Mubs is a multi users and multi blogs web application.".t %>

<br />

<%= :"You can find all blogs' list".t %> <%= link_to :here.t, blogs_path %>.
</div>

<div class="span-7 last">
	<% unless logged_in?  %>
	<%= "If you are not a member".t %>
	<h2><%= link_to :signup.t, '/signup' %></h2>
	<% end %>
	<%= render :file => 'sessions/new', :use_full_path => true %>
</div>

<hr />