<h2><%= @blog.name %></h2>

<div class="span-15 prepend-1 colborder">
	<div class="pagination" align="right">
		<%= will_paginate @articles %>
	</div>

	<% @articles.each do |article| %>
	<p><%= link_to article.title, [@blog, article] %></p> <%# article_path(article) %>
	<% end %>
	
	<div class="pagination" align="right">
		<%= will_paginate @articles %>
	</div>
</div>

<div class="span-7 last">
	
	<% if @blog %>
	<%= link_to 'New article', new_blog_article_path(@blog) %>
	<% else %>
	<%= link_to "New article", new_article_path %>
	<% end %>

<br />

	<%= "Blog's users" %>:
	<% @blog.users.each do |user| %>
		<p><%= link_to user.login, [@blog, user] %></p>
	<% end %>
	<%= link_to :Edit.t, edit_blog_path(@blog) %> |
	<%= link_to :Back.t, blogs_path %>

<br />
	
	<div id="tag_cloud">
	<% tag_cloud @tags, %w(cloud1 cloud2 cloud3 cloud4) do |tag, css_class| %>
		<%= link_to tag.name, { :controller => :articles, :action => :tag, :id => tag.name }, :class => css_class %>
	<% end %>
	</div>
</div>

<hr />
