<% if @blog %>
	<h2><%= link_to @article.title, blog_article_path(@blog, @article) %></h2> 
	<p> 
	<%= @article.created_at  %> | 
	<%= link_to :Edit.t, edit_blog_article_path(@blog, @article) %> | 
	<%= link_to :Destroy.t, blog_article_path(@blog, @article), :confirm => :'Are you sure?'.t, :method => :delete %></p> <%# [@blog, @article_comment] %>
	<% else %>
	<h2><%= link_to @article.title,  @article %></h2>
	<p> 
	<%= @article.created_at  %> | 
	<%= link_to :Edit.t, edit_article_path(@article) %> | 
	<%= link_to :Destroy.t, @article, :confirm => :'Are you sure?'.t, :method => :delete %>
	</p>
<% end %>
	
<p><%= h @article.body %></p>

<%= render :file => "comments/show", :collection => @comments, :use_full_path => true %>

<% if logged_in? %>
<div style="width:500px;margin-right:auto;margin-left:auto;">
	<div class="agree_link" style="float:left;">
		<%= link_to "支持", new_article_comment_path(:article_id => @article, :attitude => 1) %>
	</div>
	<div class="disagree_link" style="float:right;">
		<%= link_to "抵制", new_article_comment_path(:article_id => @article, :attitude => 2) %>
	</div>
	<div class="neutral_link" style="text-align:center;">
		<%= link_to "中立", new_article_comment_path(:article_id => @article, :attitude => 0) %>
	</div>
</div>
<% end %>