<% title "Listing Roles"  %>
<h2><%= "Listing Roles" %></h2>


<div class="span-15 prepend-1 colborder">
	<div class="pagination" align="right">
		<%#= will_paginate @users %>
	</div>
	

<% @roles.each do |role| %>
  <%= role.name %>
	<br />
<% end %>


	
	<div class="pagination" align="right">
		<%#= will_paginate @users %>
	</div>	
</div>

<div class="span-7 last">
<%= link_to 'New Role', new_role_path %>
<br />
<%= link_to 'New user', new_user_path %>
<br />
<%= link_to 'article', articles_path %>
<br />
<%= link_to 'New article', new_blog_article_path(@blog) if @blog %>
<%= link_to "New article", new_article_path %>
<br />
<%= link_to 'user', users_path %>
<br />
<%= link_to 'blog', blogs_path %>
<br />
</div>

<hr />